<%- include nav %>

<header class="detailHeader" style="background-image:url(/api/photos/27900947644?size=Large)">
    <div class="grid">
        <h1>About us</h1>
    </div>

    <svg viewBox="0 0 1280 110" preserveAspectRatio="none" id="header-curve">
        <path d="M1280 3.9V110H0C194 71.33 662-19.9 1280 3.9z" fill="#fff"></path>
    </svg>
</header>



<main class="content">
    <div class="splits">
        <div class="split">
            <img src="https://scontent-fra3-1.xx.fbcdn.net/v/t31.0-8/s960x960/16835799_10206476547351359_3305858958325503097_o.jpg?oh=27e65ce8a7ea032108019e2d990674a7&oe=592BEC27" />
        </div>
        <div class="split">
            <h2>Så vilka är dessa rövar?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui eros, egestas sodales augue at, pharetra lobortis mauris. Pellentesque sed metus convallis, fermentum ligula sit amet, efficitur felis. Ut eget magna nec arcu tincidunt efficitur et in neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras vitae dignissim risus, sit amet mollis massa. Donec vitae iaculis nisl. Vestibulum fringilla in quam et venenatis. In placerat, nisi a efficitur fringilla, nibh mauris auctor diam, nec tincidunt eros leo vel tellus. Ut pulvinar diam id volutpat cursus. Cras at metus id justo finibus hendrerit vitae eget elit. Fusce non velit vel nunc bibendum euismod sit amet at nisi. Pellentesque bibendum dolor mauris, vel gravida diam rhoncus et.
            </p>
            <p>
                In lobortis rhoncus sapien vel volutpat. Cras eu suscipit lacus. Fusce ornare aliquet nunc. Donec at faucibus odio. In hac habitasse platea dictumst. Nunc ut blandit lorem, et vestibulum dolor. Maecenas rutrum est in est ornare, quis tempor augue rutrum. In non maximus risus. Vestibulum malesuada elit vel libero finibus convallis. Mauris interdum nunc in erat cursus, at mattis turpis fringilla. Sed id interdum nulla. Fusce vulputate ante id massa mattis suscipit. Curabitur dolor purus, interdum vitae eleifend ut, varius euismod magna. Nulla egestas ligula in nisi fermentum ornare. Nulla viverra vehicula dolor, at pharetra arcu efficitur ac. In egestas felis odio, in sollicitudin velit imperdiet non.
            </p>
        </div>
    </div>
</main>