<h1><%= title %></h1>


<div class="detailWrap">
<div class="inner masonry">

<% photos.forEach(function(s) { %>
<img class="b-lazy lazy-img" data-action="zoom" data-src="<%= s.url %>" />
<% }); %>

</div>
</div>