
<% photosets.forEach(function(s) { %>
<div class="collection-wrap" data-id="<%= s.id %>">
<h2><%= s.title._content %></h2>
<img data-imgId="<%= s.id %>" src="<%= s.url %>" />

    <div class="images"></div>
<div>
<% }); %>