<div class="cta">
    <div class="grid">
        <h2>Anställ oss för vi är svinsköna</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ipsam cupiditate nihil, consequuntur, assumenda nostrum tenetur, vel nulla praesentium suscipit a aliquid omnis rem mollitia, in ab cum aperiam rerum.</p>
        
        <a href="#" class="cta-button">Hör av er</a>
    </div>
</div>