    <header class="header">
        <div class="title">
            <nav class="navigation">
                <ul class="nav">
                    <a class="nav-links" href="#"><li>Start</li></a>
                    <a class="nav-links" href="#"><li>Albums</li></a>
                    <a class="nav-links" href="#"><li>Om</li></a>
                </ul>
            </nav>
            <h1 class="title-name">Erik Nilsson</h1>
        </div>
        <a class="next" href="#"><div class="arrow">
        </div></a>
    </header>
    <section class="content">
    <div class="photo-grid">
        <div class="photo-grid-children">
            <p class="photo-grid-descripion"></p>
        </div>
    </div>

<div class="grid">
    <div class="grid-wrapper">
    <% selectedImages.forEach(function(s) { %>
    <div class="grid-children">
        <img class="intense" data-image="<%= s %>?size=Large 2048" src="<%= s %>?size=Large" />
    </div>
    <% }); %>
    </div>
</div>




 <%- include collectionList %>
<a href="/albums">All albums</a>